source https://api.nuget.org/v3/index.json
framework: net10.0
storage: none

nuget FSharpPlus 1.7.0

nuget Fable.Core 5.0.0-rc.1
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Fable.Browser.DOM
nuget Fable.Elmish
nuget Fable.Elmish.React 5.5.0-beta-1
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR 9.0.0-beta.1
nuget Fable.React.UseElmish
nuget Fable.Mocha
nuget Fable.SimpleHttp

nuget Feliz.UseElmish
nuget Feliz ~> 3
nuget Feliz.Markdown 3.1.0
nuget NJsonSchema 11.5.1

nuget Saturn ~> 0

nuget Fake.Core.Target 6.1.3
nuget Fake.IO.FileSystem 6.1.3

nuget FSharp.Data
nuget HtmlAgilityPack 1.12.3
nuget FParsec
nuget FsToolkit.ErrorHandling 5.2.0
nuget MathNet.Numerics.FSharp
nuget Microsoft.Net.Test.Sdk 18.3.0
nuget Validus
nuget YoloDev.Expecto.TestSdk 0.15.5
nuget Markdig 0.42.0
nuget Aether
nuget ClosedXML = 0.97
nuget ConsoleTables
nuget IcedTasks 0.11.9

nuget Unquote
nuget Expecto ~> 10
nuget Expecto.FsCheck

nuget ModelContextProtocol 1.2.0
nuget Microsoft.Extensions.Hosting

